@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fefefe;
	width: 100%;
	margin-top: 0;
	margin-left: 0;
}

header {
	background-color: #9ACD32;
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 9999;
}

/*#header-space {
	height: 50px;
}*/

#header-info {
	display: flex;
	height: inherit;
	align-items: baseline;
	justify-content: space-between;
}

#title {
	padding-left: 5%;
	font-size: 30px;
	margin: auto 0 auto 0;
	font-family: "Montserrat";
}

#subtitle {
	padding-right: 25%;
	padding-top: 0.7%; /*wanting bottom of title and subtitle aligned*/
	font-size: 19px;
	margin: auto 0 auto 0;
	font-family: "Montserrat";
}

#trail-select {
	padding-right: 5%;
	padding-top: 1%; /*wanting bottom of title and subtitle aligned*/
	display: flex;
	align-items: center;
}

#trail-select p {
	font-size: 12pt;
	padding-right: 4px;
	width: 50%;
	font-family: "Montserrat";
}

#trail-viz {
	width: 94%;
	margin: 0 auto;
	margin-top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#trail-map {
	height: 500px;
	margin-top: 100px;
	width: 60%;
}

#histplot-monthlies-annuals {
	width: 25%;
	height: 500px;
	margin-top: 100px;
	padding-left: 1%;
}

text.c3-axis-y-label {
	font-size: 14px;
}

#select-buttons {
	width: 10%;
	margin-top: 100px;
}

#select-buttons div {
	width: 100%;
}

#line-plot {
	width: 95%;
	margin-top: 50px;
}

#line-plot .c3-line {
    stroke-width: 2px;
}

#text-box {
	/*width: 90%;*/
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 9pt;
}

footer {
	position: absolute;
	width: 100%;
	/*background-color: #909090;*/
	background-color: lightgray;
	color: white;
	text-align: center;
}

#footer-info {
	display: flex;
	height: inherit;
	align-items: baseline;
	justify-content: space-between;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
}

/*
#trail-viz {
	position: absolute;
	top: 10px;
	width: 100%;
}

#fig-holder {
	width: 100%;
	height: 750px;
	position: relative;
}

#trail-select, #trail-map, #line-plot, #text-box, #select-buttons {
	position: absolute;
}

header {
	padding-bottom: 40px;
}

#trail-map {
	top: 20px;
	width: 70%;
	height: 500px;
}

#line-plot {
	top: 520px;
	width: 800px;
	height: 300px;
	padding-top: 10px;
}

#histplot-monthlies-annuals {
	top: 520px;
	padding-top: 10px;
	width: 800px;
}

#trail-select, #select-buttons {
	top: 520px;
	width: 150px;
	left: 820px;
	height: 200px;
	padding-top: 10px;
}

#text-box {
	top: 550px;
	width: 150px;
	left: 820px;
	height: 200px;
	padding-top: 10px;
}

#select-buttons {
	top: 830px;
	width: 150px;
	left: 820px;
	height: 200px;
	padding-top: 10px;
} */
