.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 40px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.home-location-tooltip {
    opacity: 0.9;
    margin: 0 auto;
    padding: 0;
}
