/* layout.css */

html,
body {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

/* .v-application--wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
} */

.app-container {
  flex: 1;
  display: flex;
}

.map-col,
.charts-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.map-div,
.scrollable-tab-content {
  flex: 1;
  overflow: hidden;
}


.map-container {
    position: relative;
    flex: 1;
    display: flex;
    overflow: hidden;
  }
